{deps, [
        {yamerl, {git, "https://github.com/yakaz/yamerl.git"}, {tag, "v0.3.2-1"}},
        {re2, {git, "https://github.com/tuncer/re2.git"}, {tag, "v1.2.1"}}
       ]}.

%{cover_enabled, true}.

{overrides,    
 [                     
  {override, re2,
   [{plugins, [pc]},                                                              
    {artifacts, ["priv/re2_nif.so"]},
    {provider_hooks, [{post, 
                       [{compile, {pc, compile}},
                        {clean, {pc, clean}}] 
                      }]}
   ]                                       
  }                
 ]        
}.
